
.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-header {
  font-size: var(--section-heading-size);
  letter-spacing: var(--heading-letter-spacing);
}

.contact-header span {
	color: var(--highlight-color);
}

.contact-info {
	flex-direction: column;
  display: flex;
  justify-content: space-between;
	gap: 2rem;
}

.contact-left {
  font-size: 1.1rem;
}

.contact-left > span {
  font-style: italic;
}

.contact-right {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 370px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-weight: 500;
}

.contact-form-row {
  display: flex;
  justify-content: space-between;
}

.contact-form-row > div {
  width: 47%;
}

.contact-form-message {
  height: 150px;
}

.contact-form-group {
  display: flex;
  flex-direction: column;
}
