@media only screen and (max-width: 800px) {
  .education-header {
    font-size: var(--section-heading-size-mobile) !important;
    line-height: 3rem !important;
  }
}

.education-container {
  display: flex;
  flex-direction: column;
}

.education-header {
  font-size: var(--section-heading-size);
  line-height: 5rem;
  letter-spacing: var(--heading-letter-spacing);
}

.education-header > p > span {
  color: var(--highlight-color);
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0px;
}

.education > p:nth-child(1) {
  font-size: 1.25rem;
}

.education > p:nth-child(2), .education summary {
  font-size: var(--section-sub-heading-size) !important;
  line-height: 1.8rem;
  padding: 15px 0px;
	cursor: pointer;
}

.education > p:nth-child(3) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(87, 86, 86);
  padding: 5px 0px;
}

.education > p:nth-child(3) > a {
  text-decoration: none;
}

.education a {
  display: flex;
  justify-content: center;
}
