@media only screen and (max-width: 1100px) {
  .skill-header {
    font-size: var(--section-heading-size-mobile) !important;
  }
}

.skill-header {
  font-size: var(--section-heading-size);
  letter-spacing: var(--heading-letter-spacing);
}

.skill-header > span {
  color: var(--highlight-color);
}
