:root {
  --heading-margin: 4rem;
  --base-color: #064e3b;
  --highlight-color: #6ac9a2;
  --section-heading-size: 5rem;
  --section-heading-size-mobile: 3.5rem;
  --section-sub-heading-size: 1.5rem;
  --section-grey-color: rgba(255, 255, 255, 0.8);
  --heading-letter-spacing: -3px;
}

.section-header {
	margin-bottom: 2rem;
}

.section-header > p:first-child {
  font-size: var(--section-heading-size);
  letter-spacing: var(--heading-letter-spacing);
	line-height: 5rem;
}

@media only screen and (max-width: 800px) {
  .btn-back-to-top > span {
    display: none;
  }

  .btn-back-to-top {
    width: 30px !important;
  }
	.section-header > p:first-child {
		font-size: var(--section-heading-size-mobile);
		line-height: 3rem;
	}
}

.my-container {
	max-width: 55rem;
	margin-inline: auto;
}

.section-header span {
	color: var(--highlight-color);
}

.btn-back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  height: 30px;
  align-items: center;
  width: 150px;
  justify-content: center;
  font-weight: 500;
}

.btn-back-to-top > svg {
  font-size: 1.2rem;
}

a:hover {
	color: var(--highlight-color);
	transition: color .25s;
}

.btn {
	transition: color .25s, background-color .25s;
}
